@font-face {
    font-family: "ubuntu_monoregular";
    src: url("../fonts/ubuntumono-regular-webfont.woff2") format("woff2"),
        url("../fonts/ubuntumono-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.gestione-cartellini-page,
.stampa-cartellini-page {
    #cartellino_template {
        display: none;
    }

    .modal .btn-group {
        margin-top: 20px;
    }
    

    td {
        .cartellino {
            .prima-pagina {
                .titolo {
                    font-size: 2.2em;
                }
            }
        }

        .tag.label.label-info {
            cursor: pointer;
        }
    }

    .cartellino {
        /* 16cm x 5cm */
        /*width: 54vh;*/
        /*height: 17vh;*/
        width: 160mm;
        height: 50mm;
        transform-origin: left top;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        color: black;
        position: relative;

        table,
        tbody,
        th,
        tr,
        td {
            border: 0;
            background: none !important;
            padding: 0;
            margin: 0;
            font-size: 14px;
            font-family: unset;
        }

        table {
            table-layout: fixed;
            // height: 100%;
            // width: 100%;

            tbody,
            th,
            tr,
            td {
                font-family: ubuntu_monoregular, monospace;
            }
        }

        td {
            vertical-align: middle;

            &.descrizione {
                vertical-align: top;
                font-size: 12px;
            }
        }

        input[type="text"],
        textarea {
            width: 100%;
            height: 100%;
            border: none;
            font-family: ubuntu_monoregular, monospace;
        }

        textarea {
            resize: none;
            outline: none;
            overflow: hidden;
            padding: 0;
        }

        &.template {
            display: none;
        }

        &.scheda-pg {
            table,
            tbody,
            th,
            tr,
            td {
                font-size: 7pt;
            }
        }

        & > .prima-pagina,
        & > .seconda-pagina {
            width: 50%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            padding: 5mm;
            box-sizing: border-box;
            float: left;

            & > div {
                overflow: hidden;
                padding: 0;
                box-sizing: border-box;
            }
        }

        & > .prima-pagina {
            background-image: url("../images/sfondo_cartellino_fronte.jpg");

            .testata {
                height: 10%;
            }

            .titolo {
                height: 20%;
                text-align: center;
                font-size: 1.5em;
                font-weight: bold;

                & > textarea {
                    text-align: center;
                    font-size: 1.5em;
                    font-weight: bold;
                }
            }

            .icona {
                height: 60%;
                font-size: 6.5em;
                text-align: center;
                line-height: 2px;

                & > .icon-button {
                    background: transparent;
                    border: none;
                    outline: none;
                }
            }

            .piepagina {
                height: 10%;
            }
        }

        & > .seconda-pagina {
            background-image: url("../images/sfondo_cartellino_retro.jpg");

            .descrizione {
                height: 100%;

                &::first-letter{
                    text-transform: capitalize;
                }
            }
        }

        &.senza-icona {
            & > .prima-pagina {
                .titolo {
                    height: 80%;

                    & > textarea {
                        height: auto;
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

                .icona {
                    display: none;
                }
            }
        }

        & > .attenzione {
            position: absolute;
            z-index: 2;
            border: solid 2px rgb(255,204, 0);
            background: rgba(255,204, 0, 0.3)!important; 
            color: rgb(255,204, 0); 
            text-align: center;
            font-size: 120px;
            //line-height: 20px;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            transition: opacity 0.2s linear;
        }

        &:hover > .attenzione {
            opacity: 0;
        }
    }

    .iconpicker * {
        box-sizing: content-box !important;
    }

    .iconpicker-popover.popover {
        width: 226px;
    }

    .costo_attuale_ravshop_cartellino,
    .nome_modello {
        display: none;
    }

    .bootstrap-tagsinput {
        width: 100%;
        border: 1px solid #1b5050;
        background-color: rgba(18, 34, 35, 0.54) !important;
        color: #18b3b2;
        font-family: "Titillium Web", sans-serif;
        text-decoration: none;
    }
}
