@font-face {
    font-family: "ubuntu_monoregular";
    src: url("../fonts/ubuntumono-regular-webfont.woff2") format("woff2"),
        url("../fonts/ubuntumono-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    height: auto;
}

td {
    vertical-align: top;
}

.fixed {
    position: fixed;
    margin: 10px;
    width: 15vw;
    z-index: 1;

    & > div {
        margin-bottom: 10px;
    }

    .print-warnings {
        border-radius: 10px;
        background-color: rgba(255, 255, 0, 0.5);
        padding: 5px;
        display: none;
    }

    .dangerous-warnings {
        border-radius: 10px;
        background-color: rgba(255, 0, 0, 0.5);
        padding: 5px;
        display: none;
    }
}

#page_template {
    display: none;
}

.a4-page {
    /* 21 cm x 29.7 cm */
    background-color: white;
    /*width: 100vw;*/
    /*height: 141vw;*/
    /*width: 70.7vh;*/
    /*height: 100vh;*/
    width: 210mm;
    height: 297mm;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 5mm;
    font-family: "ubuntu_monoregular";
    font-size: 7pt;
    box-sizing: border-box;
    margin-bottom: 10mm;

    .cartellino {
        position: absolute;

        .prima-pagina {
            .titolo {
                font-size: 2.2em;
            }
        }

        &:nth-of-type(1) {
            transform: translate(0, 160mm) rotate(-90deg);
        }
        &:nth-of-type(2) {
            transform: translate(50mm, 160mm) rotate(-90deg);
        }
        &:nth-of-type(3) {
            transform: translate(100mm, 160mm) rotate(-90deg);
        }
        &:nth-of-type(4) {
            transform: translate(150mm, 160mm) rotate(-90deg);
        }
        &:nth-of-type(5) {
            transform: translate(0, 160mm);
        }
        &:nth-of-type(6) {
            transform: translate(0, 210mm);
        }
    }
}

.pg-adv-data td:nth-of-type(2),
.pg-adv-data td:nth-of-type(4) {
    text-align: center;
}

.page-break {
    page-break-after: always;
}

@media print {
    .fixed {
        display: none;
    }

    .a4-page {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        position: static;
        left: 0;
        top: 0;
        transform: none;
        width: 100%;
    }

    .cartellino {
        & > .prima-pagina {
            background-image: url("../images/sfondo_cartellino_fronte.jpg") !important;
            -webkit-print-color-adjust: exact;
        }

        & > .seconda-pagina {
            background-image: url("../images/sfondo_cartellino_retro.jpg") !important;
            -webkit-print-color-adjust: exact;
        }
    }
}
